---
import BaseLayout from '../layouts/Base.astro';
---
<BaseLayout>
 <h1>React</h1>
 <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eveniet reprehenderit quam distinctio molestiae
    facere, in voluptatum quidem id neque reiciendis consequatur harum iure odit eius qui maiores, amet nesciunt!
 </p>
</BaseLayout>
